.container {
  max-width: 1440px;
  margin: 0px auto;
}

.btn {
  color: white;
  background: #F6762C;
  border: 0px;
  padding: 15px 37px;
  border-radius: 6%;
  text-transform: uppercase;
}

.header {
  height: 100vh;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner .header__nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner .header__nav .nav__menu .menu__item {
  margin-right: 30px;
}

.header__inner .header__nav .nav__menu .menu__item:last-of-type {
  margin-right: 0px;
}

.header__inner .header__nav .nav__menu .menu__item .item__link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
}

.header__inner .header__nav .nav__menu .menu__item--active .item__link {
  color: white;
}

.header__inner .header__info {
  margin-top: 170px;
}

.header__inner .header__info .pretitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
}

.header__inner .header__info .title {
  font-family: Roboto;
  font-size: 57px;
  font-weight: 500;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  max-width: 555px;
  margin-bottom: 37px;
}

.header__inner .header__info .descr {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  max-width: 523px;
  margin-bottom: 42px;
}

.main {
  background: black;
}

.menu__inner {
  padding-top: 115px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__inner .menu__item {
  border-radius: 6%;
  background: #312F30;
}

.menu__inner .menu__item img {
  max-width: 262px;
  max-height: 175px;
  margin-bottom: 28px;
}

.menu__inner .menu__item .title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-bottom: 13px;
}

.menu__inner .menu__item .descr {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #C4C4C4;
  margin-bottom: 35px;
  max-width: 240px;
}

.king {
  background: #312F30;
}

.king__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.king__inner .section__title {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 24px;
}

.king__inner .section__descr {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  margin-bottom: 15px;
  max-width: 368px;
}

.king__inner .btn {
  display: block;
}

.cost {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #F6762C;
  margin-bottom: 11px;
}

.cost--old {
  -webkit-text-decoration: line-through #F6762C;
          text-decoration: line-through #F6762C;
}

.product {
  padding-top: 150px;
  padding-bottom: 135px;
}

.product__inner {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 555px 555px;
      grid-template-columns: 555px 555px;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  gap: 30px;
}

.product__inner .product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 20px;
}

.product__inner .product__item .product__title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

.product__inner .product__item .product__descr {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  margin-bottom: 11px;
}

.product__inner .product__item .btn {
  margin-top: 12px;
  display: block;
}

.product__inner .product__item-first {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background: url(../images/bg1.png);
}

.product__inner .product__item-second {
  background: url(../images/bg2.png);
}

.product__inner .product__item-third {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background: url(../images/bg3.png);
}

.product__inner .product__item-forth {
  background: url(../images/bg4.png);
}

.download {
  background: #312F30;
}

.download__inner {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download__inner .section__title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.feedback {
  padding-top: 100px;
  padding-bottom: 300px;
}

.feedback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__inner img {
  display: block;
  margin: 0px auto;
  margin-bottom: 40px;
}

.feedback__inner .feedback__text .feedback__descr {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #C4C4C4;
  max-width: 368px;
  margin-bottom: 30px;
}

.feedback__inner .feedback__text .feedback__name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.feedback__inner .feedback__text .feedback__nac {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.footer {
  padding-top: 126px;
  padding-bottom: 126px;
  background: black;
}

.footer__inner .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner .footer__nav .footer__menu .footer__link {
  color: white;
  text-decoration: none;
  display: block;
}

.footer__inner .footer__nav .footer__menu .menu__item {
  margin-bottom: 15px;
}

.footer__inner .footer__nav .footer__menu .menu__item .menu__link {
  display: block;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__inner .footer__nav .footer__menu .menu__item .social {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */